.advertising {
  padding-top: 40px;
  padding-bottom: 40px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadows-2);
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(lg) {
      width: 320px;
      flex-direction: column;
      padding: 32px 15px 53px 15px;
      gap: 23px;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 32px;
      width: 100%;
      gap: 45px;
    }

    @include media-breakpoint-up(xl) {
      width: 898px;
    }

    @include media-breakpoint-between(xl, xxl) {
      padding: 32px;
      gap: 89px;
    }

    @include media-breakpoint-up(xxl) {
      padding: 32px;
    }
  }

  &__rating {
    position: relative;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-bottom: 12px;
      padding-left: 0; // TODO
    }

    @include media-breakpoint-up(lg) {
      padding-left: 10px;
    }

    &-avg {
      font-size: 18px;
      font-weight: var(--typography-fontWeightSemiBold);
      line-height: 38px;
    }

    &-view {
      position: relative;
    }

    &-view--active {
      font-size: 28px;
      position: absolute;
      top: 0;

      overflow: hidden;
      height: 100%;
      letter-spacing: 11px;

      @include media-breakpoint-down(lg) {
        width: 66%;
      }

      @include media-breakpoint-up(lg) {
        width: 64%;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 39px;
        width: 100%;
        height: 100%;
        content: "★★★★★";
        color: green; // TODO
      }
    }

    &-view::before {
      font-size: 28px;
      position: relative;
      bottom: 2px;
      padding-right: 2px;
      padding-left: 10px;
      content: "★★★★★";
      letter-spacing: 11px;
      color: #e1e1e1; // TODO
    }

    &-review {
      width: max-content;
    }
  }

  &__btn-inner {
    padding: 0 20px; // TODO
  }
}
