.aside-menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    position: fixed;
    z-index: 11;
    top: 38%;
    right: 0;

    &__wrapper {
      display: grid;
      border-radius: 3px; // TODO
      background-color: white; // TODO
      box-shadow: 0 2px 12px 1px rgba(29, 51, 107, 0.25);
    }

    &__item {
      padding: 12px;

      &:not(:last-of-type) {
        border-bottom: 1px solid #19448425; // TODO
      }
    }
  }
}
