.aside-menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    position: fixed;
    right: 0;
    z-index: 11;
    top: 38%;

    &__wrapper {
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      box-shadow: 0px 2px 12px 1px rgba(29, 51, 107, 0.25);
      background-color: white;
    }

    &__item {
      padding: 12px;
      &:not(:last-of-type) {
        border-bottom: 1px solid #19448425;
      }
    }
  }
}
