.aside-menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    position: fixed;
    z-index: 11;
    top: 38%;
    right: 0;

    &__wrapper {
      display: grid;
      border-radius: calc(var(--border-radius-2) / 2);
      background-color: var(--pallete-papper-background);
      box-shadow: var(--shadows-aside);
    }

    &__item {
      padding: 12px;

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--pallete-aside-border);
      }
    }
  }
}
