.contacts {
  padding-top: 120px;

  &__wrapper {
    display: flex; // TODO grid
    flex-direction: column; // TODO

    @include media-breakpoint-down(lg) {
      gap: 32px;
    }

    @include media-breakpoint-up(lg) {
      gap: 110px;
    }
  }

  &__title-wrapper {
    display: flex; // TODO grid
    align-items: center;
    flex-direction: column; // TODO
    text-align: center;

    @include media-breakpoint-down(lg) {
      gap: 15px;
    }

    @include media-breakpoint-up(lg) {
      gap: 68px;
    }
  }

  &__subtitles {
    display: flex; // TODO grid
    align-items: center;
    flex-direction: column; // TODO

    @include media-breakpoint-down(lg) {
      gap: 33px;
    }

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }
  }

  &__subtitle {
    font-weight: var(--typography-fontWeightBold);

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      line-height: 28px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__description {
    @include media-breakpoint-down(lg) {
      line-height: 26px;
    }

    @include media-breakpoint-up(lg) {
      line-height: 20px;
    }
  }

  &__data-wrapper {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 67px;
    }
  }

  &__communication {
    display: flex; // TODO grid
    flex-direction: column; // TODO

    @include media-breakpoint-down(lg) {
      gap: 22px;
    }

    @include media-breakpoint-up(lg) {
      gap: 30px;
    }

    &-item {
      display: flex;
      align-items: baseline;
      gap: 21px;

      @include media-breakpoint-down(lg) {
        padding-right: 5px;
        padding-left: 5px;
      }

      &-text {
        font-size: 20px;

        @include media-breakpoint-down(lg) {
          line-height: 30px;
        }

        @include media-breakpoint-up(lg) {
          line-height: 24px;
        }
      }
    }
  }

  &__form-wrapper {
    position: relative;
    display: flex;

    @include media-breakpoint-down(lg) {
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
      width: 625px;
    }
  }

  &__form-inner {
    display: flex; // TODO
    flex-direction: column; // TODO
    padding: 50px 40px 70px 40px;
    background-color: #ffffff; // TODO
    box-shadow: var(--shadows-2);
    gap: 20px;

    @include media-breakpoint-down(lg) {
      width: 100%;
      padding: 40px 22px;
    }
  }

  &__form-item {
    width: 339px;
    padding: 10px 15px;
    border: 1px solid #d7d7d7; // TODO
    border-radius: 4px; // TODO
    background: #ffffff; // TODO

    &--large {
      height: 80px;
      resize: none;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &__btn {
    padding-top: 10px;
  }

  &__form-background {
    position: absolute;
    z-index: -1;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    row-gap: 90px;

    @include media-breakpoint-down(lg) {
      display: none; // TODO
    }

    @include media-breakpoint-between(lg, xl) {
      left: 0;
    }

    @include media-breakpoint-up(xl) {
      left: 90px;
    }

    &-item {
      display: flex;
      justify-content: center;
      width: 34%;
    }
  }
}
