// TODO
.description-block {
  padding-bottom: 40px;

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 50px;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row; // TODO
      gap: 140px;
    }
  }

  &__item-wrapper {
    display: flex; // TODO grid
    flex-direction: column; // TODO
    gap: 20px;

    @include media-breakpoint-down(lg) {
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 553px;
    }
  }

  &__description {
    line-height: 26px;
    padding-bottom: 10px;
  }
}
