.description {
  padding-bottom: 40px;
  @include media-breakpoint-between(lg, xxl) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 96px;
    padding-right: 96px;
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 50px;
    }

    @include media-breakpoint-up(lg) {
      gap: 140px;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @include media-breakpoint-down(lg) {
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 553px;
    }
  }

  &__paragraph {
    line-height: 26px;
    padding-bottom: 10px;
  }
}
