.block {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  z-index: 4;
  background-color: transparent;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  #menu {
    display: none;
    &:checked + {
      .backdrop {
        left: 0px;
      }
    }
    &:not(:checked) + {
      .backdrop {
        left: -100%;
        pointer-events: none;
      }
    }

    &:checked + .backdrop + {
      .header__inner {
        left: 0px;
      }
    }
    &:not(:checked) + .backdrop + {
      .header__inner {
        left: -100%;
      }
    }
  }

  &__menu {
    @include media-breakpoint-up(xl) {
      display: none;
    }
    @include media-breakpoint-down(xl) {
      width: 26px;
      height: 4px;
      background-color: var(--palette-primary-title);
      border-radius: 2px;
      position: relative;

      &:after,
      &:before {
        content: "";
        width: 26px;
        height: 4px;
        background-color: var(--palette-primary-title);
        color: var(--palette-primary-title);
        border-radius: 2px;
        position: absolute;
      }

      &::after {
        bottom: 8px;
      }

      &::before {
        top: 8px;
      }
    }
  }

  &__inner {
    display: flex;
    @include media-breakpoint-down(xl) {
      position: fixed;
      top: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding-inline-start: 46px;
      padding-inline-end: 8px;
      height: 100vh;
      box-shadow: var(--shadows-menu);
      z-index: 5;
      transition: left 0.5s ease-in-out;
      width: 275px;
      overflow-y: auto;
    }

    @include media-breakpoint-between(xl, xxl) {
      gap: 30px;
      align-items: baseline;
    }

    @include media-breakpoint-up(xxl) {
      gap: 142px;
      align-items: baseline;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-bottom: 21px;
    }
  }

  &__nav {
    &-list::after {
      @include media-breakpoint-down(xl) {
        display: none;
      }
      @include media-breakpoint-up(xl) {
        position: relative;
        bottom: 2px;
        left: 3px;
        display: flex;
        align-items: center;
        content: "";
        border-right: 2px solid var(--palette-secondary-title);
        border-top: 2px solid var(--palette-secondary-title);
        width: 6px;
        height: 6px;
        color: var(--palette-secondary-title);
        transform: rotate(135deg);
      }
    }

    &-list:hover {
      .header__nav-list-wrapper {
        @include media-breakpoint-up(xl) {
          display: flex;
          background-color: #fff;
          border-bottom-left-radius: var(--border-radius-1);
          border-bottom-right-radius: var(--border-radius-1);
          border-top: 3px solid #00a4e8;
          box-shadow: var(--shadows-1);
          flex-direction: column;
          gap: 17px;
          padding: 18px 17px 21px;
          position: absolute;
          top: 55px;
          z-index: 2;
        }
      }
    }
  }

  &__nav-list-wrapper {
    @include media-breakpoint-up(xl) {
      display: none;
    }
    @include media-breakpoint-down(xl) {
      display: flex;
      flex-direction: column;
      padding-inline-start: 20px;
      gap: 12px;
    }
  }

  &__list-item {
    color: var(--palette-secondary-title);

    &:hover {
      color: rgba(0, 164, 232, 1);
    }

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }

  &__nav-wrapper {
    display: flex;
    padding-top: 17px;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      padding-bottom: 12px;
    }

    @include media-breakpoint-up(xl) {
      align-items: center;
      gap: 23px;
    }
  }

  &__cross-item {
    @include media-breakpoint-down(xl) {
      color: var(--palette-background-btn);
      display: flex;
      justify-content: flex-end;
      font-weight: var(--typography-fontWeightSemiBold);
      font-size: 14px;
      margin-bottom: 14px;
    }
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__btn-wrapper {
    padding-right: 42px;
  }

  &__nav-item {
    gap: 3px;
    color: var(--palette-secondary-title);
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      color: rgba(0, 164, 232, 1);
    }

    @include media-breakpoint-down(xl) {
      display: flex;
      flex-direction: column;
      font-weight: 100;
    }

    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: center;
      font-weight: var(--typography-fontWeightBold);
    }
  }
}
