.hero {
  position: relative;
  padding-top: 44px;
  padding-bottom: 26px;

  &__wrapper {
    position: relative;
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 10px;
    }

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }
  }

  &__inner {
    display: flex; // TODO
    flex-direction: column; // TODO
    width: 100%;

    @include media-breakpoint-down(lg) {
      gap: 43px;
    }

    @include media-breakpoint-between(lg, xl) {
      gap: 70px;
    }

    @include media-breakpoint-up(xl) {
      gap: 125px;
    }
  }

  &__title {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }

  &__icon-wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      justify-content: center;
      width: 70%; // TODO
    }

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
      width: 70%; // TODO
    }
  }

  &__icon-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }

  &__icon {
    width: 100%;
  }

  &__navigation {
    display: flex;
    align-items: center;

    &-item:not(:first-of-type)::after,
    &-item:not(:last-of-type)::after { // TODO
      padding: 0 5px; // TODO
      content: ">";
    }

    &-item:last-of-type::after { // TODO
      content: "";
    }

    &-item:first-of-type {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
  }
}
