.hero {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      gap: 36px;
    }
  }

  &__icon-img {
    width: 100%;
    height: 100%;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;

    &-item:not(:first-of-type)::after,
    &-item:not(:last-of-type)::after {
      content: ">";
      padding: 0 5px;
    }

    &-item:last-of-type::after {
      content: "";
    }

    &-item:first-of-type {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}
