.quote {
  &__wrapper {
    position: relative;
    min-height: 635px;
  }
  &__background {
    &-blue {
      position: absolute;
      width: 100%;
      height: 550px;
      top: 50px;
      left: 0;
    }
    &-lightblue {
      position: absolute;
      width: 100%;
      height: 631px;
      top: 0;
      left: 0;
    }
  }

  &__img-backlayer {
    position: absolute;
    width: 100%;
    height: 94%;
    padding-top: 50px;
  }

  &__title {
    letter-spacing: 1px;
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 220px 0;
    min-height: 100%;
    width: 100%;
    z-index: 4;
    flex-direction: column;
  }

  &__img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__discription {
    color: white;

    @include media-breakpoint-down(md) {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(md) {
      padding: 25px 0;
    }
    @include media-breakpoint-down(md) {
      padding: 10px 0;
    }
  }
}
