:root {
  --palette-primary-title: #194484;
  --palette-secondary-title: #0d6eb7;
  --palette-quote-main: #276ed8;
  --palette-swiper-arrow: #84b5ff;
  --palette-primary-text: #242424;
  --palette-secondary-text: #ffffff;
  --palette-background-btn: #06b25f;
  --palette-bracket: #66d6a0;
  --palette-border-input: #d7d7d7;

  --border-radius-1: 16px;
  --border-radius-2: 6px;

  --shadows-1: 2px 4px 16px rgba(158, 158, 158, 0.4);
  --shadows-2: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
  --shadows-menu: 0px 0px 10px 6px #00000082, 0 0 4px 2px #0000008f;

  --typography-htmlFontSize: 16px;
  --typography-fontFamily: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --typography-fontFamily-headings: Harabara, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --typography-fontWeightSemiBold: 600;
  --typography-fontWeightBold: 700;
  --typography-fontWeightExtraBold: 800;

  //--filters-blur: 10px;
  --filters-opacity: 0.1;

  --spacing-container: 90px;
  --spacing-container-mobile: 30px;
}
