.title {
  font-weight: var(--typography-fontWeightBolder);
  letter-spacing: 1px;

  &--main {
    color: var(--palette-primary-title);
    font-size: 44px;
  }
  &--primary {
    color: var(--palette-primary-title);
    font-size: 36px;
  }

  &--secondary {
    color: var(--palette-secondary-title);
    font-size: 24px;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }
  }
}
