.btn {
  font-weight: var(--typography-fontWeightBold);
  line-height: 36px;
  display: flex;
  justify-content: center;
  padding-right: 29px;
  padding-left: 29px;
  text-transform: uppercase;
  border-width: 2px;
  border-color: var(--palette-background-btn);
  border-radius: var(--border-radius-2);

  &--green {
    transition: background-color 0.2s linear, border-color 0.2s linear;
    color: var(--palette-secondary-text);
    background-color: var(--palette-background-btn);

    &:hover {
      border-color: #0a8d4e;
      background-color: #0a8d4e;
    }

    &:active {
      border-color: #06703d;
      background-color: #06703d;
    }
  }

  &--white {
    transition: background-color 0.2s linear, border-color 0.2s linear;
    color: var(--palette-background-btn);
    background-color: var(--palette-secondary-text);

    &:hover {
      color: var(--palette-secondary-text);
      border-color: var(--palette-background-btn);
      background-color: var(--palette-background-btn);
    }

    &:active {
      color: var(--palette-secondary-text);
      border-color: #06703d;
      background-color: #06703d;
    }
  }
}
