.container {
  width: 100%;
  padding-right: var(--spacing-container);
  padding-left: var(--spacing-container);

  @include media-breakpoint-up(sm) {
    margin-right: auto;
    margin-left: auto;
  }

  @include media-breakpoint-down(sm) {
    max-width: $breakpoints-sm;
  }

  @include media-breakpoint-between(sm, md) {
    max-width: $breakpoints-sm;
  }

  @include media-breakpoint-between(md, lg) {
    max-width: $breakpoints-md;
  }

  @include media-breakpoint-between(lg, xl) {
    max-width: $breakpoints-lg;
  }

  @include media-breakpoint-between(xl, xxl) {
    max-width: $breakpoints-xl;
  }

  @include media-breakpoint-up(xxl) {
    max-width: $breakpoints-xxl;
  }
}
