.container {
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin-right: auto;
    margin-left: auto;
  }

  @include media-breakpoint-down(md) {
    max-width: $breakpoints-sm;
    padding-right: var(--spacing-container-mobile); // TODO
    padding-left: var(--spacing-container-mobile); // TODO
  }

  @include media-breakpoint-between(md, lg) {
    max-width: $breakpoints-md;
    padding-right: var(--spacing-container-mobile); // TODO
    padding-left: var(--spacing-container-mobile); // TODO
  }

  @include media-breakpoint-between(lg, xl) {
    max-width: $breakpoints-lg;
    padding-right: var(--spacing-container); // TODO
    padding-left: var(--spacing-container); // TODO
  }

  @include media-breakpoint-between(xl, xxl) {
    max-width: $breakpoints-xl;
    padding-right: var(--spacing-container); // TODO
    padding-left: var(--spacing-container); // TODO
  }

  @include media-breakpoint-up(xxl) {
    max-width: $breakpoints-xxl;
    padding-right: var(--spacing-container); // TODO
    padding-left: var(--spacing-container); // TODO
  }
}
