<%
var htmlTop = { title: "Stan's assets" };
%>
<%=_.template(require('./../_html-top.html').default)(htmlTop)%>

<%=_.template(require('./../sections/header.html').default)()%>
<main>
  <!-- <%=_.template(require('./../sections/hero.html').default)()%> -->
  <%=_.template(require('./../sections/description.html').default)()%>
  <%=_.template(require('./../sections/advertising.html').default)()%>
  <%=_.template(require('./../sections/services.html').default)()%>
  <%=_.template(require('./../sections/quote.html').default)()%>
  <%=_.template(require('./../sections/description.html').default)()%>
  <%=_.template(require('./../sections/contacts.html').default)()%>
  <%=_.template(require('./../sections/projects.html').default)()%>
</main>
<%=_.template(require('./../sections/footer.html').default)()%>

<%=_.template(require('./../_html-bottom.html').default)()%>
